{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>SciEdify</title>
    <script src="/SciEdify/app/templates/homepage.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/4a6278922f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="flex items-center">
      <div
        id="Main"
        class="fixed top-0 left-0 transform xl:translate-x-0 ease-in-out transition flex justify-start items-start h-screen w-64 bg-gray-900 flex-col"
      >
        <div
          class="hidden xl:flex justify-start p-6 items-center space-x-3 px-14"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg1.svg"
            alt="logo"
          />
          <a href="/app/" class="text-2xl leading-6 text-white pr-20"
            >SciEdify</a
          >
        </div>
        <div
          class="flex flex-col justify-start px-6 border-b mx-7 border-gray-600 w-3/4"
        ></div>
        <div class="flex flex-col justify-start px-6 w-full">
            <a
            href="biology.html"
            class="text-sm leading-5 uppercase px-[72px] bg-cyan-100 text-gray-900 font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 flex justify-between items-center w-full py-5 space-x-14"
          >BIOLIGY
          </a>
          <a
          href="chemistry.html"
            class="text-sm leading-5 uppercase px-[61px] hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >CHEMISTRY
          </a>
          <a
            href="geography.html"
            class="text-sm leading-5 uppercase px-[59px] hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >GEOGRAPHY
          </a>
          <a
            href="mathematics.html"
            class="text-sm leading-5 uppercase px-[54px] hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >MATHEMATICS
          </a>
          </button>
        </div>
      </div>
      <div
        class="absolute top-0 text-center text-[24px] justify-center right-0 left-64"
      >
        <div id="Content" class="h-screen bg-cyan-100 text-gray-900 py-10">
          <div 
            class="flex flex-col justify-start py-1 border-t-8 mx-7 border-gray-900"
          ></div>
          <h1 class="mx-7 bg-gray-900 py-10 text-white text-6xl uppercase">Content</h1>
          <div
            class="mx-7 border-t-8 border-gray-900 py-10 grid gap-y-8 grid-cols-2 mt-2 uppercase h-5/6 place-content-center"
          >
            <div><a href="#CellBiology" class="delay-100 duration-200 hover:font-bold">Cell biology</a></div>
            <div><a href="#HumanSystems" class="delay-100 duration-200 hover:font-bold">Human systems</a></div>
            <div><a href="#Biochemistry" class="delay-100 duration-200 hover:font-bold">Biochemistry</a></div>
            <div><a href="#Botanic" class="delay-100 duration-200 hover:font-bold">Botanic</a></div>
            <div><a href="#Zoology" class="delay-100 duration-200 hover:font-bold">Zoology</a></div>
            <div><a href="#Immunology" class="delay-100 duration-200 hover:font-bold">Immunology</a></div>
          </div>
        </div>
        <div class="h-full bg-gradient-to-b from-cyan-100 to-cyan-300"> 
          <br id="CellBiology">
          <h1
            class="bg-gray-900 border-8 border-cyan-100 text-white text-6xl uppercase py-10 mx-7"
          >
            Cell biology
          </h1>
          <div class="text-left whitespace-pre-line pb-10 mx-28">
          <p class="font-serif">
            Cell biology is a branch of biology that studies structure, function and behaviour of cells which are the basic units of life, responsible for the living and functioning organisms. There are two types of cells: Prokaryotic and Eukaryotic. They both reproduce through binary fission (division). There are three mandatory organelles that every cell of both types has – cell membrane, cytoplasm and genetic information.  
 
            Prokaryotic cells are the smaller and simpler ones. They were the first cells to arise on Earth. Their genetic information (DNA) is placed directly in the cytoplasm and not in a cell nucleus. Another thing they do not have are mitochondria. This type of cells is found in bacteria and some single-celled organisms.  
        
            Eukaryotic cells are much more complex. Their genetic information is positioned in a cell nucleus, and they have mitochondria. These cells compose animals, plants, fungi, some single-celled organisms and of course humans.

        
            <h1 class="font-bold border-y-4 border-gray-900 m-0 py-10 text-3xl uppercase text-center">Animal cell</h1>
            Animal cells are the cells that humans and animals consist of. They are Eukaryotic and here is their structure:  
        
            <b> ⦿ Cell membrane</b> 
            A lipid bilayer which has selective permeability which means not all substances will be able to pass through. In the membrane there is cholesterol that provides integrity and support.  
            <img class="h-72 border-2 border-gray-900 mt-10 py-4 hover:h-96 w-full delay-150 duration-300 bg-white object-contain rounded-full" src="https://pixfeeds.com/images/21/511840/640-86007545-cell-membrane.jpg" alt="Cell membrane">
            <b> ⦿ Nucleus</b>
            Regarded as the control center of a cell because it contains most of the genetic material. The nucleus regulates metabolism, growth and reproduction of the cell.  
            <img class="h-72 border-2 border-gray-900 mt-10 py-4 hover:h-96 w-full delay-150 duration-300 bg-white object-contain rounded-full" src="https://static.vecteezy.com/ti/vetor-gratis/p3/696109-anatomia-do-nucleo-de-celulas-animais-gratis-vetor.jpg" alt="">
            <b> ⦿ Cytoplasm</b>
            The material, enclosed by the cell membrane, except for the nucleus. It contains water, the organelles, cytosol and cytoplasmic inclusions.  
            <img class="float-right h-80 border-2 border-gray-900 m-20 p-4 hover:m-8 hover:h-96 delay-150 duration-300 bg-white object-contain rounded-full" src="https://as1.ftcdn.net/v2/jpg/02/78/44/30/1000_F_278443032_amSCpssauMDfKV4zlm8J8tyruHRJqPgG.jpg" alt="">
            <b> ⦿ Endoplasmic reticulum (ER)</b>
            The transportation system of the cell. It is made up of two subunits: rough ER, involved in protein synthesis and smooth ER, involved in lipid synthesis.  
        
            <b> ⦿ Golgi apparatus</b>
            Packages and secrets biomolecules, sending them to their destination.  
        
            <b> ⦿ Mitochondrion </b>
            The powerhouse of the cell. It generates ATP which is used by the cell as a source of chemical energy.  
        
            <b> ⦿ Lysosome </b>
            The waste disposal system of the cell. It contains digestive enzymes and so its main function is degradation of polymers.  
        
            <b> ⦿ Ribosome</b>
            Links amino acids together to form polypeptide chains a. k. a. proteins.  


            <h1 class="font-bold font-sans border-y-4 border-gray-900 m-0 py-10 text-3xl uppercase text-center">Plant cell</h1>
         Plant cells are Eukaryotic as well, but they differ from animal ones. They are made of:  
         
         <b> ⦿ Cell wall</b>
         The outer layer of a plant cell, responsible for the cell's strength, rigidity and resiliency against mechanical stress.

          <b> ⦿ Cell membrane </b> 
        <img class="float-right h-80 w-96 border-2 border-gray-900 m-10 hover:m-10 hover:h-96 delay-150 duration-300 bg-white object-contain rounded-full" src="https://media.istockphoto.com/id/902920716/vector/cartoon-plant-cell-anatomy-banner-card-poster-vector.jpg?s=612x612&w=0&k=20&c=S2SI64gHNWGcjjKpwoR2kHGCSfgI78aajR3NdnQapys=" alt="">
         <b> ⦿ Nucleus  </b>
        
         <b> ⦿ Cytoplasm </b> 
        
         <b> ⦿ Endoplasmic reticulum </b> 
        
         <b> ⦿ Mitochondrion </b>  
        
         <b> ⦿ Golgi apparatu</b>s  
        
         <b> ⦿ Ribosome </b> 
        
         <b> ⦿ Lysosome</b>  
        
         <b> ⦿ Vacuole</b>
         The largest structure in the plant cell. It contains water, organic and inorganic molecules. A vacuole's functions vary but in general it isolates harmful materials and waste products, contains water and regulates pressure in the cell.  
        
         <b> ⦿ Chloroplast</b>
         Organelle that contains chlorophyll and plays a very important role in photosynthesis. It converts salt, water and carbon dioxide into oxygen, glucose and other organic materials, using light energy.</p>
      </div>
        </div>

        <div class="h-screen bg-gradient-to-b from-cyan-300 to-rose-100">
          <br id="Biochemistry">
          <h1
            class="bg-gray-900 border-8 border-cyan-300 text-white text-6xl uppercase py-10 mx-7"
          >
            Biochemistry
          </h1>
          <p class="py-10"></p>
        </div>

        <div class="h-screen bg-gradient-to-b from-rose-100 to-indigo-200">
          <br id="Botanic">
          <h1
            class="bg-gray-900 border-8 border-rose-100 text-white text-6xl uppercase py-10 mx-7"
          >
            Botanic
          </h1>
          <p class="py-10"></p>
        </div>

        <div class="h-screen bg-gradient-to-b from-indigo-200 to-yellow-200">
          <br id="Zoology">
          <h1
            class="bg-gray-900 border-8 border-indigo-200 text-white text-6xl uppercase py-10 mx-7"
          >
            Zoology
          </h1>
          <p class="py-10"></p>
        </div>

        <div class="h-screen bg-gradient-to-b from-yellow-200 to-orange-200">
          <br id="HumanSystems">
          <h1
            class="bg-gray-900 border-8 border-yellow-200 text-white text-6xl uppercase py-10 mx-7"
          >
            Human Systems
          </h1>
          <p class="py-10"></p>
        </div>

        <div class="h-screen bg-gradient-to-b from-teal-200 to-amber-200">
          <br id="Immunology">
          <h1
            class="bg-gray-900 border-8 border-teal-200 text-white text-6xl uppercase py-10 mx-7"
          >
            Immunology
          </h1>
          <p class="py-10"></p>
        </div>

        <a
          href="#Content"
          class="fixed bottom-8 right-8 w-10 bg-gray-900 hover:bg-gray-800 hover:text-gray-100 duration-300 rounded-full text-white"
        >
        <i class="fa-solid fa-arrow-up"></i>
        </a>
      </div>
    </div>
  </body>
</html>
