<!DOCTYPE html>
<html>
  <head>
    <title>SciEdify</title>
    <script src="/SciEdify/app/templates/homepage.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .bg {
        width: 100%;
        height: 100vh;
        background: linear-gradient(
          to top,
          pink 0%,
          pink 50%,
          paleturquoise 50%,
          paleturquoise 100%
        );
      }
    </style>
  </head>

  <body>
    <div class="flex items-center">
      <div
        id="Main"
        class="fixed top-0 left-0 xl:rounded-r transform xl:translate-x-0 ease-in-out transition flex justify-start items-start h-screen w-64 bg-gray-900 flex-col"
      >
        <div
          class="hidden xl:flex justify-start p-6 items-center space-x-3 px-14"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg1.svg"
            alt="logo"
          />
          <p class="text-2xl leading-6 text-white pr-20">SciEdify</p>
        </div>
        <div
          class="flex flex-col justify-start px-6 border-b border-gray-600 w-full"
        ></div>
        <div class="flex flex-col justify-start px-6 w-full">
          <button
            class="bg-cyan-100 text-gray-900 font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[72px]">BIOLIGY</p>
          </button>
          <button
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[61px]">CHEMISTRY</p>
          </button>
          <button
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[59px]">GEOGRAPHY</p>
          </button>
          <button
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[54px]">MATHEMATICS</p>
          </button>
        </div>
      </div>
      <div
        class="absolute top-0 text-center text-[24px] justify-center right-0 left-64"
      >
        <div class="h-screen bg-cyan-100 text-gray-900 py-10">
          <h1 class="text-6xl uppercase">Content</h1>
          <div
            class="border-t-8 border-gray-900 py-10 grid gap-y-8 grid-cols-2 mt-10 uppercase h-5/6 place-content-center"
          >
            <div><a href="#CellBiology">Cell biology</a></div>
            <div><a href="#HumanSystems">Human systems</a></div>
            <div><a href="#Immunology">Immunology</a></div>
            <div><a href="#Genetic">Genetic</a></div>
            <div><a href="#Botanic">Botanic</a></div>
            <div><a href="#Evolution">Evolution</a></div>
            <div><a href="#Zoology">Zoology</a></div>
            <div><a href="#MolecularBiology">Molecular biology</a></div>
          </div>
        </div>
        <div class="bg-gradient-to-b from-cyan-100 to-pink-200">
          <br /><br />
        </div>
        <div class="bg-pink-200 text-gray-900">
          <h1
            id="CellBiology"
            style="
              background-image: url('/SciEdify/app/templates/images/pink_flowers.jpg');
            "
            class="text-6xl uppercase py-10 border-b-4 border-gray-900"
          >
            Cell biology
          </h1>
          <p class="py-10">
            Cell biology is the study of cell structure and function, and it
            revolves around the concept that the cell is the fundamental unit of
            life. Focusing on the cell permits a detailed understanding of the
            tissues and organisms that cells compose.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
