<!DOCTYPE html>
<html>
  <head>
    <title>SciEdify</title>
    <script src="/SciEdify/app/templates/homepage.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="flex items-center bg-cyan-100">
      <div
        id="Main"
        class="xl:rounded-r transform xl:translate-x-0 ease-in-out transition flex justify-start items-start h-screen w-64 bg-gray-900 flex-col"
      >
        <div
          class="hidden xl:flex justify-start p-6 items-center space-x-3 px-14"
        >
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg1.svg"
            alt="logo"
          />
          <p class="text-2xl leading-6 text-white pr-20">SciEdify</p>
        </div>
        <div
          class="flex flex-col justify-start px-6 border-b border-gray-600 w-full"
        ></div>
        <div class="flex flex-col justify-start px-6 w-full">
          <a
            href="biology.html"
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[72px]">BIOLIGY</p>
          </a>
          <a
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[61px]">CHEMISTRY</p>
          </a>
          <a
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[59px]">GEOGRAPHY</p>
          </a>
          <a
            href="mathematics.html"
            class="hover:bg-cyan-100 delay-150 duration-300 hover:text-gray-900 hover:font-bold rounded-md h-8 mt-4 focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
          >
            <p class="text-sm leading-5 uppercase px-[54px]">MATHEMATICS</p>
          </a>
        </div>
      </div>
      <div
        class="text-gray-900 text-center text-gray-950 text-[24px] justify-center w-screen"
      >
          <b class="text-[30px]">
            Welcome to SciEdify, where the wonders of science await you!</b
          ><br />
          <br />
          Here you can embark on a thrilling journey of discovery <br />
          as you delve into the captivating realm of different scientific
          disciplines.
        </p>
      </div>
    </div>
  </body>
</html>
