<!DOCTYPE html>
<html>
  <head>
    <title>SciEdify</title>
    <script src="homepage.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div
      id="Main"
      class="xl:rounded-r transform xl:translate-x-0 ease-in-out transition duration-500 flex justify-start items-start h-full w-full sm:w-64 bg-gray-900 flex-col"
    >
      <div class="hidden xl:flex justify-start p-6 items-center space-x-3">
        <img
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg1.svg"
          alt="logo"
        />
        <p class="text-2xl leading-6 text-white">SciEdify</p>
      </div>
      <div
        class="flex flex-col justify-start items-center px-6 border-b border-gray-600 w-full"
      ></div>
      <div class="flex flex-col justify-start items-center px-6 w-full">
        <button
          onclick="showMenu2(true)"
          class="focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
        >
          <p class="text-sm leading-5 uppercase">BIOLIGY</p>
          <img
            id="icon2"
            class="transform rotate-180"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg7.svg"
            alt="arrow"
          />
        </button>
      </div>
      <div class="flex flex-col justify-start items-center px-6 w-full">
        <button
          onclick="showMenu2(true)"
          class="focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
        >
          <p class="text-sm leading-5 uppercase">CHEMISTRY</p>
          <img
            id="icon2"
            class="transform rotate-180"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg7.svg"
            alt="arrow"
          />
        </button>
      </div>
      <div class="flex flex-col justify-start items-center px-6 w-full">
        <button
          onclick="showMenu2(true)"
          class="focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
        >
          <p class="text-sm leading-5 uppercase">GEOGRAPHY</p>
          <img
            id="icon2"
            class="transform rotate-180"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg7.svg"
            alt="arrow"
          />
        </button>
      </div>
      <div class="flex flex-col justify-start items-center px-6 w-full">
        <button
          onclick="showMenu2(true)"
          class="focus:outline-none focus:text-indigo-400 text-white flex justify-between items-center w-full py-5 space-x-14"
        >
          <p class="text-sm leading-5 uppercase">MATHEMATICS</p>
          <img
            id="icon2"
            class="transform rotate-180"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sidebar2-svg7.svg"
            alt="arrow"
          />
        </button>
      </div>
    </div>
  </body>
</html>
